{% extends 'base.html.twig' %}

{% block title %}Administration - Planning{% endblock %}

{% block body %}
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix" style="max-width: 1500px;">
                <div class="row">
                    {% include 'admin/navbar.html.twig' %}
                    <div class="nobottommargin clearfix col-md-9">
                        {% if trainer is defined %}
                            <h4>Planning de {{ trainer.name }} <a href="{{ url('admin.planning.add') }}" class="btn btn-sm btn-success float-right">Ajouter</a></h4>
                        {% else %}
                            <h4>Planning <a href="{{ url('admin.planning.add') }}" class="btn btn-sm btn-success float-right">Ajouter</a></h4>
                        {% endif %}
                        <div class="tabs tabs-bb mb-0 clearfix">
                            <ul class="tab-nav d-flex clearfix">
                                {% for day in days %}
                                    <li class="flex-fill"><a href="#tabs-{{ day }}"><span class="d-none d-md-inline-block"></span>{{ day | capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="tab-container mt-3">
                                {% for day, lessons in groupedLessons %}
                                    <div class="tab-content clearfix" id="tabs-{{ day }}">
                                        <dl class="row mb-0">
                                            {% for lesson in lessons %}
                                                <dd class="col-sm-12">
                                                    <div class="row justify-content-between align-items-center">
                                                        <div class="col-sm-2">
                                                            <div class="schedule-time font-primary float-right"><strong>{{ lesson.hourStart }} - {{ lesson.hourEnd }}</strong></div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="schedule-desc">{{ lesson.name }}</div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="schedule-desc"><a href="{{ url('admin.planning.trainer', {trainer: lesson.trainer.id}) }}"><span class="badge badge-trainer float-right" style="background-color: {{ lesson.trainer.color }}">{{ lesson.trainer.name }}</span></a></div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <a href="{{ url('admin.planning.edit', {lesson: lesson.id}) }}" class="btn btn-primary btn-sm">Editer</a>
                                                            <a href="{{ url('admin.planning.del', {lesson: lesson.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce cours ?')" class="btn btn-danger btn-sm">Supprimer</a>
                                                        </div>
                                                    </div>
                                                </dd>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}